body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.error__input {
	display: flex;
	position: absolute;
	top: 63px;
	font-weight: 500;
	color: #dc3545;
	font-family: system-ui;
	font-size: 0.9rem;
	justify-content: center;
}
h1{
	text-align: center;
	color: hsl(45, 79%, 50%);
}