.search__container {
	display: flex;
	justify-content: center;
}
.search__box {
	position: relative;
}
.search__input {
	height: 23px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    padding: 5px 33px 5px 10px;
}
.search__button {
	position: absolute;
	right: 0;
	/* top:0; */
	cursor: pointer;
	height: 100%;
	border: none;
	background: none;
}
